<aside id="music-component">
    <span>{{yield}}</span>
    <audio src="{{this.currentSong}}" autoplay>

    </audio>

    <button data-test-rr="openMenuButton" id="reveal" type="button" {{on "click" this.reveal}}>
        &gt;
    </button>

    <button 
    type="button" {{on "click" this.playMusic}}
    >{{this.pauseOrPlay}}</button>

    <hr>

    <section id="keys">
        <h3>
            {{svg-jar 'keyraven'}}
            Keys
        </h3>
        {{#each this.keys as |key| }}
            <div id={{key.name}} class="key {{if key.owned 'owned'}}" draggable="{{ if key.owned 'true' }}" {{on "drag" this.keyDrag}}>
                {{svg-jar key.name title=(concat key.name " key")  }}

            </div>
        {{/each}}
    </section>

</aside>
