<aside id="music-component">
    <audio src="{{this.currentSong}}" autoplay>

    </audio>

    <button id="reveal" type="button" {{on "click" this.reveal}}>
        &gt;
    </button>

    <button 
    type="button" {{on "click" this.playMusic}}
    >{{this.pauseOrPlay}}</button>

    {{yield}}
</aside>
