{{page-title "Credits"}}
<h1 {{animate 'backInUp'}}>Congrats! You did it</h1>
<h2 {{animate 'backInUp' delay='2'}}>I've not thought of a better ending yet, sorry it's just this.</h2>
<h3 {{animate 'backInUp' delay='4'}}>Here's at least a lil thing</h3>
<img {{animate 'backInUp' delay='5'}} src="/images/ratz.jpg" alt="An image of a t-shirt with a rat, with 'ratz' written in the bratz font">

<style>
    img {
        width: auto;
        height: 40vh;
    }
</style>
{{outlet}}