{{page-title "Pt6"}}
<h1 {{animate 'fadeIn' delay='1'}} >Congrats! Key 1 is yours. (as soon as I add the code to, give it)</h1>
<h2 {{animate 'fadeIn' delay='2'}}>Hopefully the intro was a bit fun.</h2>
<h3 {{animate 'fadeIn' delay='3'}}>Continue to <LinkTo @route="navigation" data-test-rr="continue">nav</LinkTo></h3>
{{outlet}}